.wrapper_a7e7a8 {
  background-color: transparent;
  justify-content: center;
}

.guilds__2b93a {
  margin-top: 24px;
  margin-bottom: 24px;
}

.tree__7a511 {
  justify-content: center;
  align-self: center;
  height: -moz-fit-content;
  height: fit-content;
  max-height: calc(100% - 48px);
}

#app-mount .scroller__3d071 {
  contain: unset;
}